{#
/**
 * @file
 * Default theme implementation to display a facebook post.
 *
 * Available variables:
 * - linkedin
 *   - date
 *   - description
 *   - full_picture
 *   - source
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'socialhub',
  'instagram',
  ]
%}

<div class="col-md-4 grid-item element-item linkedin">
  <div class="inner">
  <div class="date">{{ linkedin.date }}</div>
  <div class="linkedin-caption">{{ linkedin.description|raw }}</div>
  {% if linkedin.full_picture %}
  <div class="linedin-pic">{{ linkedin.full_picture }}</div>
  {% endif %}
  <!--<a class="linkedin-link" target="_blank" href="{{linkedin.source}}">
    View source</a>-->
  </div>
</div>
 